<h3 class="video-heading text-warning">Video gallery</h3>
<div class="video-containter">
  <div class="main-video">
    <div class="video">
      <video src="<%=video.content%>" controls muted autoplay></video>
      <h3 class="video-title"><%=video.title%></h3>
    </div>
  </div>
  <div class="video-list">
    <div class="video-list-child">
      <video src="<%=video.content%>"></video>
      <h3 class="video-title"><%=video.title%></h3>
    </div>
    <div class="video-list-child">
      <video src="<%=video.content%>"></video>
      <h3 class="video-title"><%=video.title%></h3>
    </div>
    <div class="video-list-child">
      <video src="<%=video.content%>"></video>
      <h3 class="video-title"><%=video.title%></h3>
    </div>
    <div class="video-list-child">
      <video src="<%=video.content%>"></video>
      <h3 class="video-title"><%=video.title%></h3>
    </div>
  </div>
</div>
